.signature {
  margin: 0 0 12px;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: monospace;
  font-size: 12px;

  & > img {
    margin: 0 auto 12px;
  }

  & > p {
    margin: 0;
  }
}
