body {
  width: 21cm;
  height: 29.7cm;
  font-family: sans-serif;
}

input,
select {
  border-style: dashed;
  border-color: #000;
  border-width: 0 0 1px 0;
}

textarea {
  padding: 0px 2px 2px;
  font-family: sans-serif;
  resize: vertical;

  @media print {
    padding: 2px 0;
  }
}

input,
textarea,
select {
  font-size: 16px;

  @media print {
    border: none;
    resize: none;
    appearance: none;
    word-wrap: break-word;
  }
}

img {
  object-fit: contain;
}
