body {
  width: 21cm;
  height: 29.7cm;
  font-family: sans-serif;
}

input,
select {
  border-style: dashed;
  border-color: #000;
  border-width: 0 0 1px 0;
}

textarea {
  padding: 2px 4px;
  font-family: sans-serif;

  @media print {
    padding: 0;
  }
}

input,
textarea,
select {
  font-size: 16px;

  @media print {
    border: none;
    resize: none;
    appearance: none;
  }
}

fieldset {
  margin: 16px 0 0;
  padding: 0;
  border: none;
}

hr {
  width: 100%;
  margin: 0;
}
