.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "section section"
    "footer footer";
  grid-gap: 24px;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;

  fieldset {
    margin: 12px 0 0;
    padding: 0;
    border: none;
  }
}

.aside {
  grid-area: aside;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
  display: grid;

  hr {
    width: 100%;
    margin: 0;
  }
}
