.page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "section section"
    "footer footer";
  grid-gap: 24px;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  display: grid;

  hr {
    width: 100%;
    margin: 0;
  }
}
