.section-images {
  display: grid;
  gap: 6px;
  grid-template-columns: repeat(3, auto);

  > div {
    position: relative;
    width: 100%;
    height: 160px;
  }
}

.page-break {
  page-break-before: always;
}
