.examTitle {
  margin: 0;
  text-transform: uppercase;
}

.examSectionTitle {
  margin: 0;
  text-transform: uppercase;
}

.examItemList {
  margin: 6px 0 0;
  padding: 0;
  display: grid;
  row-gap: 8px;
}

.examItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  justify-content: start;
  align-items: start;
}

.examItemDouble {
  grid-column: span 2;
}

.nonPrintable {
  @media print {
    display: none;
  }
}

.separator {
  @media print {
    display: none;
  }
}
