.tituloExame {
  margin: 0;
  text-transform: uppercase;
}

.tituloSecaoExame {
  margin: 0;
  text-transform: uppercase;
}

.itensExame {
  margin: 6px 0 0;
  padding: 0;
  display: grid;
  row-gap: 8px;
}

.itemExame {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
  justify-content: start;
  align-items: start;
}

.itemExameDouble {
  grid-column: span 2;
}

.itensExameDetalhes {
  padding: 0 0 0 24px;
  grid-column: span 2;
  display: grid;
  row-gap: 4px;
}

.itemExameDetalhes {
  list-style: none;
}

.nonPrintable {
  @media print {
    display: none;
  }
}

.separator {
  @media print {
    display: none;
  }
}
