.dragdropForm {
  position: relative;
  height: 80px;
  padding: 12px 0;
  margin: 0 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed 1px #000;
  border-radius: 12px;
  cursor: grab;

  @media print {
    display: none;
  }
}

.dragdrogInput {
  display: none;
}

.dragdropLabel {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 6px;
  cursor: grab;
}

.dragdropLabelHidden {
  display: none;
}

.dragdropLabelText {
  margin: 0;
  text-align: center;
}

.dragdropLabelButton {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: none;
  background-color: #6161ff;
  cursor: pointer;
  color: #fff;
}

.dragdropLabelButton:hover {
  background-color: #a0aec0;
}

.dropElement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
