.itemExameDesvioGrid {
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr;
  column-gap: 4px;
  align-items: start;
}

.itemExameDesvioGridList {
  padding: 4px 0;
  list-style: none;
  line-height: 1;
}

.itemExameDesvioGridListItem {
  margin: 0 4px;
}
